html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    background-color: pink;
    width: 320px;
    height: 20px;
}

.square {
    background-color: peachpuff;
    width: 20px;
    height: 20px;
}

.eraser {
    margin-bottom: 15px;
}