html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row {
    display: flex;
    gap: 2px;
    background-color: pink;
    width: 320px;
    height: 20px;
}

.square {
    background-color: green;
    width: 20px;
    height: 20px;
}